# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Databases
*.sqlite3

# Cache files
.pytest_cache/
.mypy_cache/

# IDE settings
.idea/
.vscode/

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/